Name:

## Problem Set 3 (Homework): Interacting with the Alpha Vantage API using Python libraries

Complete each step of boths parts of the notebook. The first part calls the Alpha Vantage API using the HTTP request library. The second part uses the Python Alpha Vantage library. Refer to Part 1 and Part 2 notebooks for code examples and any documentation. 

Documentation links:
<br />Alpha Vantage: https://www.alphavantage.co/documentation/
<br />Alpha Vantage Python library: https://alpha-vantage.readthedocs.io/en/latest/#
<br />Pandas DataFrame: https://pandas.pydata.org/pandas-docs/stable/reference/frame.html

#### Part 1: Alpha Vantage HTTP (RESTful) API call

(1) Import the "requests" library:
(1 point)

In [1]:
# pandas
import pandas as pd
# requests
import requests
# alpha_vantage TimeSeries class
from alpha_vantage.timeseries import TimeSeries
# mmatplotlib.pyplot as plt
import matplotlib.pyplot as plt

(2) Assign your Alpha Vantage API key to a variable: (1 point)

In [2]:
api_key = "V836SIOENHQ2MSG7"

(3) Assign a stock ticker symbol to a variable: (1 point)

In [3]:
ticker = "amzn"

(4) Make an API call using the Alpha Vantage HTTP API: (5 points)
* Compose a URL string and assign it to a variable called link
* Format the URL with the above variables used for your API key and stock ticker symbol
* Get daily stock data for the last 100 obervations
* Retrieve the data as type CSV
* Refer to the documentation: https://www.alphavantage.co/documentation/

In [4]:
link = f"https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol={ticker}&interval=1min&apikey={api_key}"
print(link)

https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol=amzn&interval=1min&apikey=V836SIOENHQ2MSG7

(5) Print the output from the HTTP API call: (2 points)
* It should print as text in CSV format

In [5]:
Amzn = requests.get(link)
print(Amzn)

<Response [200]>

#### Part 2: API call using alpha_vantage Python library
Refer to the docs: https://alpha-vantage.readthedocs.io/en/latest/

(1) Import the necessary items (2 lines): (2 points)

In [6]:
import requests
from alpha_vantage.timeseries import TimeSeries
import matplotlib.pyplot as plt

from pypfopt.efficient_frontier import EfficientFrontier
from pypfopt import risk_models
from pypfopt import expected_returns
from pypfopt.discrete_allocation import DiscreteAllocation, get_latest_prices

(2) Create an instance of the TimeSeries class: (2 points)
* Use the API key variable assigned in Part 1
* Import the data as a pandas dataframe

In [7]:
ts = TimeSeries(key=api_key,output_format='pandas')

In [8]:
amzn_data, amzn_meta_data = ts.get_daily(symbol='AMZN', outputsize='full')

In [9]:
print(amzn_data)

              1. open    2. high     3. low  4. close   5. volume
date
1999-10-05    77.1250    79.7500    74.7500    78.438  16420100.0
1999-10-06    79.5630    83.6250    79.5000    82.438  15532200.0
1999-10-07    85.6250    90.0000    83.5000    87.313  24609400.0
1999-10-08    86.8750    89.5000    84.4380    89.250  11458700.0
1999-10-11    89.1250    89.3750    86.7500    88.375   6692400.0
1999-10-12    87.6880    88.5000    84.8750    84.938   7231400.0
1999-10-13    82.5000    85.0000    79.5630    79.938  11561800.0
1999-10-14    80.5000    83.3750    78.4380    79.594  12713000.0
1999-10-15    75.8750    77.0630    73.9380    75.063  12186900.0
1999-10-18    75.0630    76.5000    71.0630    74.063  10793800.0
1999-10-19    77.6250    78.2500    75.6250    76.625   7780000.0
1999-10-20    78.3130    80.6254    76.3440    80.500   7735500.0
1999-10-21    77.9380    82.8130    77.0630    80.750   8961000.0
1999-10-22    81.4380    83.6188    78.0000    78.625   7304800.0
1999-10-25    79.0000    83.0000    77.9380    82.750   7180900.0
1999-10-26    83.1250    84.3130    80.1250    81.250   7711500.0
1999-10-27    79.3750    79.3750    74.8130    75.938  12835200.0
1999-10-28    69.5000    73.1250    65.8750    71.000  35726400.0
1999-10-29    72.7500    72.8130    69.2500    70.625   9688800.0
1999-11-01    68.0630    71.8750    66.3130    69.125  12824100.0
1999-11-02    69.7500    70.0000    65.0630    66.438  13243200.0
1999-11-03    68.1880    68.5000    65.0000    65.813  10772100.0
1999-11-04    67.1880    67.1880    61.0025    63.063  16759200.0
1999-11-05    64.7500    65.5000    62.2516    64.938  11091400.0
1999-11-08    64.8130    80.0000    63.5000    78.000  32339400.0
1999-11-09    82.0000    83.0630    70.0000    70.813  26477100.0
1999-11-10    71.5630    75.0102    70.1250    72.000  11506700.0
1999-11-11    74.7500    76.6250    71.3750    73.000   9293900.0
1999-11-12    73.7435    75.0000    70.8130    74.938  10319600.0
1999-11-15    75.6215    76.0000    73.3130    73.500   6437200.0
...               ...        ...        ...       ...         ...
2019-08-23  1793.0300  1804.9000  1745.2300  1749.620   5270800.0
2019-08-26  1766.9100  1770.0000  1743.5100  1768.870   3080000.0
2019-08-27  1775.7300  1779.4000  1746.6801  1761.830   3019700.0
2019-08-28  1755.0000  1767.8600  1744.0500  1764.250   2419700.0
2019-08-29  1783.0000  1798.5500  1777.2500  1786.400   3015100.0
2019-08-30  1797.4900  1799.7400  1764.5699  1776.290   3058700.0
2019-09-03  1770.0000  1800.8000  1768.0000  1789.840   3543000.0
2019-09-04  1805.0000  1807.6300  1796.2300  1800.620   2324100.0
2019-09-05  1821.9500  1842.0000  1815.5800  1840.720   3310800.0
2019-09-06  1838.2200  1840.6500  1826.4000  1833.510   2496900.0
2019-09-09  1841.0000  1850.0000  1824.6100  1831.350   2999500.0
2019-09-10  1822.7500  1825.8101  1805.3400  1820.550   2613900.0
2019-09-11  1812.1400  1833.4200  1809.0800  1822.990   2432800.0
2019-09-12  1837.6300  1853.6600  1834.2800  1843.550   2823500.0
2019-09-13  1842.0100  1846.1200  1835.1700  1839.340   1971300.0
2019-09-16  1824.0200  1825.6899  1800.2000  1807.840   3675500.0
2019-09-17  1807.0800  1823.9900  1804.1000  1822.550   1982400.0
2019-09-18  1817.0400  1822.0601  1795.5000  1817.460   2505600.0
2019-09-19  1821.0200  1832.5699  1817.9000  1821.500   2031500.0
2019-09-20  1821.7100  1830.6300  1780.9200  1794.160   5341900.0
2019-09-23  1777.0000  1792.7000  1767.3199  1785.300   2922300.0
2019-09-24  1790.6100  1795.7100  1735.5500  1741.610   4616000.0
2019-09-25  1747.3600  1773.0000  1723.0000  1768.330   3493200.0
2019-09-26  1762.7900  1763.3700  1731.5000  1739.840   3536800.0
2019-09-27  1748.0000  1749.1200  1713.8199  1725.450   3907200.0
2019-09-30  1726.9900  1737.4600  1709.2200  1735.910   2644700.0
2019-10-01  1746.0000  1755.6000  1728.4100  1735.650   3084500.0
2019-10-02  1727.7400  1728.8900  1705.0000  1713.230   3301100.0
2019-10-03  1713.0000  1725.0000  1685.0601  1724.420   3468200.0
2019-10-04  1726.0200  1740.5750  1719.2300  1739.650   2281477.0

[5033 rows x 5 columns]

(3) Retrieve daily stock price data by calling the API with the appropriate "get" method: (5 point)
* Use the ticket symbol variable you used in Part 1 as an argument in the get method
* Get the last 100 obervations
* Store the time series data and the meta data into two separate variables on the same line
* Refer to the docs: https://alpha-vantage.readthedocs.io/en/latest/genindex.html

In [12]:
amzn_ready = amzn_data['4. close']

In [17]:
print(amzn_ready)

date
1999-10-05      78.438
1999-10-06      82.438
1999-10-07      87.313
1999-10-08      89.250
1999-10-11      88.375
1999-10-12      84.938
1999-10-13      79.938
1999-10-14      79.594
1999-10-15      75.063
1999-10-18      74.063
1999-10-19      76.625
1999-10-20      80.500
1999-10-21      80.750
1999-10-22      78.625
1999-10-25      82.750
1999-10-26      81.250
1999-10-27      75.938
1999-10-28      71.000
1999-10-29      70.625
1999-11-01      69.125
1999-11-02      66.438
1999-11-03      65.813
1999-11-04      63.063
1999-11-05      64.938
1999-11-08      78.000
1999-11-09      70.813
1999-11-10      72.000
1999-11-11      73.000
1999-11-12      74.938
1999-11-15      73.500
                ...
2019-08-23    1749.620
2019-08-26    1768.870
2019-08-27    1761.830
2019-08-28    1764.250
2019-08-29    1786.400
2019-08-30    1776.290
2019-09-03    1789.840
2019-09-04    1800.620
2019-09-05    1840.720
2019-09-06    1833.510
2019-09-09    1831.350
2019-09-10    1820.550
2019-09-11    1822.990
2019-09-12    1843.550
2019-09-13    1839.340
2019-09-16    1807.840
2019-09-17    1822.550
2019-09-18    1817.460
2019-09-19    1821.500
2019-09-20    1794.160
2019-09-23    1785.300
2019-09-24    1741.610
2019-09-25    1768.330
2019-09-26    1739.840
2019-09-27    1725.450
2019-09-30    1735.910
2019-10-01    1735.650
2019-10-02    1713.230
2019-10-03    1724.420
2019-10-04    1739.650
Name: 4. close, Length: 5033, dtype: float64

Empty DataFrame
Columns: [amzn]
Index: []

In [59]:
df = pd.DataFrame(columns=['amzn'])

In [60]:
df['amzn'] = amzn_ready

In [62]:
df = df[-100:]

(4) Print the dataframe (1 point)

In [63]:
df

               amzn
date
2019-05-15  1871.15
2019-05-16  1907.57
2019-05-17  1869.00
2019-05-20  1858.97
2019-05-21  1857.52
2019-05-22  1859.68
2019-05-23  1815.48
2019-05-24  1823.28
2019-05-28  1836.43
2019-05-29  1819.19
2019-05-30  1816.32
2019-05-31  1775.07
2019-06-03  1692.69
2019-06-04  1729.56
2019-06-05  1738.50
2019-06-06  1754.36
2019-06-07  1804.03
2019-06-10  1860.63
2019-06-11  1863.70
2019-06-12  1855.32
2019-06-13  1870.30
2019-06-14  1869.67
2019-06-17  1886.03
2019-06-18  1901.37
2019-06-19  1908.79
2019-06-20  1918.19
2019-06-21  1911.30
2019-06-24  1913.90
2019-06-25  1878.27
2019-06-26  1897.83
...             ...
2019-08-23  1749.62
2019-08-26  1768.87
2019-08-27  1761.83
2019-08-28  1764.25
2019-08-29  1786.40
2019-08-30  1776.29
2019-09-03  1789.84
2019-09-04  1800.62
2019-09-05  1840.72
2019-09-06  1833.51
2019-09-09  1831.35
2019-09-10  1820.55
2019-09-11  1822.99
2019-09-12  1843.55
2019-09-13  1839.34
2019-09-16  1807.84
2019-09-17  1822.55
2019-09-18  1817.46
2019-09-19  1821.50
2019-09-20  1794.16
2019-09-23  1785.30
2019-09-24  1741.61
2019-09-25  1768.33
2019-09-26  1739.84
2019-09-27  1725.45
2019-09-30  1735.91
2019-10-01  1735.65
2019-10-02  1713.23
2019-10-03  1724.42
2019-10-04  1739.65

[100 rows x 1 columns]

(BONUS POINT) Print just the highest closing price of the last 100 obervations:
* Refer to the pandas docs: https://pandas.pydata.org/pandas-docs/stable/

In [65]:
df.nlargest(1,['amzn'])

               amzn
date
2019-07-15  2020.99