## Problem Set 3 (Part 2 of 2): Interacting with the Alpha Vantage API using Python libraries

In Part 2 of Problem Set 3 we will be using the data retrived from the Alpha Vantage API and creating an optimized portfolio of stocks based on Modern Portfolio Theory. The PyPortfolioOpt package will be used to optimize a portfolio of stocks based maximizing the Sharpe Ratio. This exercise is an example of how a robo-advisor would use data APIs to continuously monitor and adjusts stock portfolios. 

This part of the exercise demonstrates:

1. Setting up a programming environment to work with APIs
2. Data preprocessing to create compatible datasets
3. Using a quantititive popular portfolio optimization library to estimate risks and weights

Documentation links:
<br />Alpha Vantage: https://www.alphavantage.co/documentation/
<br />Alpha Vantage Python library: https://alpha-vantage.readthedocs.io/en/latest/#
<br />Pandas DataFrame: https://pandas.pydata.org/pandas-docs/stable/reference/frame.html
<br />PyPortfolioOpt: https://pyportfolioopt.readthedocs.io/en/latest/index.html

In [1]:
api_key = "V836SIOENHQ2MSG7"

In [4]:
import pandas as pd
import requests
from alpha_vantage.timeseries import TimeSeries
import matplotlib.pyplot as plt

# PyPortfolioOpt libraries
from pypfopt.efficient_frontier import EfficientFrontier
from pypfopt import risk_models
from pypfopt import expected_returns
from pypfopt.discrete_allocation import DiscreteAllocation, get_latest_prices

In [5]:
ts = TimeSeries(key=api_key,output_format='pandas')

In [6]:
fb_data, fb_meta_data = ts.get_daily(symbol='FB', outputsize='full')
msft_data, msft_meta_data = ts.get_daily(symbol='MSFT', outputsize='full')
aapl_data, aapl_meta_data = ts.get_daily(symbol='AAPL', outputsize='full')
amzn_data, amzn_meta_data = ts.get_daily(symbol='AMZN', outputsize='full')

In [8]:
print(fb_data)

             1. open   2. high   3. low  4. close    5. volume
date
2012-05-18   42.0500   45.0000   38.000    38.232  573576400.0
2012-05-21   36.5300   36.6600   33.000    34.030  168192700.0
2012-05-22   32.6100   33.5900   30.940    31.000  101786600.0
2012-05-23   31.3700   32.5000   31.360    32.000   73600000.0
2012-05-24   32.9500   33.2100   31.770    33.030   50237200.0
2012-05-25   32.9000   32.9500   31.110    31.910   37149800.0
2012-05-29   31.4800   31.6900   28.650    28.840   78063400.0
2012-05-30   28.6937   29.5500   27.860    28.190   57267900.0
2012-05-31   28.5450   29.6700   26.830    29.600  111639200.0
2012-06-01   28.8920   29.1530   27.390    27.720   41855500.0
2012-06-04   27.2000   27.6500   26.440    26.900   35230300.0
2012-06-05   26.7000   27.7584   25.750    25.869   42473400.0
2012-06-06   26.0700   27.1700   25.520    26.810   61489200.0
2012-06-07   27.0000   27.3500   26.150    26.310   26159500.0
2012-06-08   26.5500   27.7600   26.440    27.100   38034000.0
2012-06-11   27.1800   28.0700   26.835    27.005   28219600.0
2012-06-12   27.4800   27.7700   26.960    27.400   15816800.0
2012-06-13   27.6600   28.1000   27.100    27.270   17102800.0
2012-06-14   27.6500   28.3200   27.380    28.290   16855000.0
2012-06-15   28.5050   30.1000   28.350    30.014   43563800.0
2012-06-18   29.9550   32.0800   29.410    31.410   42978900.0
2012-06-19   31.5350   32.1800   30.700    31.911   30849000.0
2012-06-20   31.9200   31.9309   31.150    31.600   15553600.0
2012-06-21   31.6700   32.5000   31.510    31.840   21875300.0
2012-06-22   32.4100   33.4500   32.060    33.050   74834000.0
2012-06-25   32.8600   33.0200   31.550    32.060   24352900.0
2012-06-26   32.6900   33.4400   32.500    33.100   24858700.0
2012-06-27   32.4600   32.9000   31.900    32.230   28568000.0
2012-06-28   31.9600   32.1900   30.900    31.360   17713300.0
2012-06-29   31.9200   31.9900   30.760    31.095   19526900.0
...              ...       ...      ...       ...          ...
2019-08-14  185.8000  185.9900  179.310   179.710   18903700.0
2019-08-15  180.9619  183.2000  180.030   182.590   12925900.0
2019-08-16  183.7500  185.1000  182.360   183.700   12654600.0
2019-08-19  186.0100  187.5000  184.850   186.170    9691200.0
2019-08-20  185.4500  186.0000  182.390   183.810   10083400.0
2019-08-21  185.0000  185.9000  183.140   183.550    8398200.0
2019-08-22  183.4300  184.1100  179.910   182.040   10821400.0
2019-08-23  180.8400  183.1300  176.660   177.750   17323400.0
2019-08-26  179.4000  180.5000  178.240   180.360    8773600.0
2019-08-27  181.9300  184.0400  181.010   181.300   14399600.0
2019-08-28  180.5300  181.9500  178.920   181.760    9386100.0
2019-08-29  183.7700  186.0800  183.470   185.570   10128700.0
2019-08-30  186.7800  186.8000  183.460   185.670   10774500.0
2019-09-03  184.0000  185.6700  182.110   182.390    9779400.0
2019-09-04  184.6500  187.7500  183.890   187.140   11308000.0
2019-09-05  188.5300  191.3600  187.940   190.900   13876700.0
2019-09-06  190.2100  190.2100  186.350   187.490   15226800.0
2019-09-09  187.7300  188.9800  185.850   188.760   14722400.0
2019-09-10  187.4400  188.1000  184.550   186.170   15455900.0
2019-09-11  186.4600  189.4400  186.080   188.490   11761700.0
2019-09-12  189.8600  190.9300  187.230   187.470   11419800.0
2019-09-13  187.3300  187.9700  186.540   187.190   11441100.0
2019-09-16  186.9300  187.7900  185.770   186.220    8444800.0
2019-09-17  186.6600  188.3200  185.540   188.080    9671100.0
2019-09-18  188.0900  189.0800  186.010   188.140    9681900.0
2019-09-19  188.6600  191.1000  188.150   190.140   10392700.0
2019-09-20  190.6600  193.1000  188.120   189.930   19934200.0
2019-09-23  189.3400  190.1000  185.210   186.820   13327600.0
2019-09-24  187.9800  188.0374  180.390   181.280   15753694.0
2019-09-25  181.4500  183.4200  177.870   182.800   10604711.0

[1850 rows x 5 columns]

In [9]:
fb_clean = fb_data['4. close']
msft_clean = msft_data['4. close']
aapl_clean = aapl_data['4. close']
amzn_clean = amzn_data['4. close']

Isolate "close" column of data for each security:

In [10]:
print(fb_clean)

date
2012-05-18     38.232
2012-05-21     34.030
2012-05-22     31.000
2012-05-23     32.000
2012-05-24     33.030
2012-05-25     31.910
2012-05-29     28.840
2012-05-30     28.190
2012-05-31     29.600
2012-06-01     27.720
2012-06-04     26.900
2012-06-05     25.869
2012-06-06     26.810
2012-06-07     26.310
2012-06-08     27.100
2012-06-11     27.005
2012-06-12     27.400
2012-06-13     27.270
2012-06-14     28.290
2012-06-15     30.014
2012-06-18     31.410
2012-06-19     31.911
2012-06-20     31.600
2012-06-21     31.840
2012-06-22     33.050
2012-06-25     32.060
2012-06-26     33.100
2012-06-27     32.230
2012-06-28     31.360
2012-06-29     31.095
               ...
2019-08-14    179.710
2019-08-15    182.590
2019-08-16    183.700
2019-08-19    186.170
2019-08-20    183.810
2019-08-21    183.550
2019-08-22    182.040
2019-08-23    177.750
2019-08-26    180.360
2019-08-27    181.300
2019-08-28    181.760
2019-08-29    185.570
2019-08-30    185.670
2019-09-03    182.390
2019-09-04    187.140
2019-09-05    190.900
2019-09-06    187.490
2019-09-09    188.760
2019-09-10    186.170
2019-09-11    188.490
2019-09-12    187.470
2019-09-13    187.190
2019-09-16    186.220
2019-09-17    188.080
2019-09-18    188.140
2019-09-19    190.140
2019-09-20    189.930
2019-09-23    186.820
2019-09-24    181.280
2019-09-25    182.800
Name: 4. close, Length: 1850, dtype: float64

Create new dataframe with tickers as columns:

In [11]:
df = pd.DataFrame(columns=['fb','msft','aapl','amzn'])

In [12]:
print(df)

Empty DataFrame
Columns: [fb, msft, aapl, amzn]
Index: []

In [13]:
df

Empty DataFrame
Columns: [fb, msft, aapl, amzn]
Index: []

Place data into new dataframe:

In [16]:
df['fb'] = fb_clean
df['msft'] = msft_clean
df['aapl'] = aapl_clean
df['amzn'] = amzn_clean

In [17]:
print(df)

                 fb     msft     aapl      amzn
date
2012-05-18   38.232   29.270  530.380   213.850
2012-05-21   34.030   29.750  561.280   218.110
2012-05-22   31.000   29.760  556.970   215.330
2012-05-23   32.000   29.110  570.560   217.280
2012-05-24   33.030   29.070  565.320   215.240
2012-05-25   31.910   29.060  562.290   212.890
2012-05-29   28.840   29.560  572.270   214.750
2012-05-30   28.190   29.340  579.170   209.230
2012-05-31   29.600   29.190  577.730   212.910
2012-06-01   27.720   28.450  560.990   208.220
2012-06-04   26.900   28.550  564.290   214.570
2012-06-05   25.869   28.505  562.830   213.210
2012-06-06   26.810   29.350  571.460   217.640
2012-06-07   26.310   29.230  571.720   218.800
2012-06-08   27.100   29.650  580.320   218.480
2012-06-11   27.005   28.895  571.170   216.500
2012-06-12   27.400   29.290  576.160   216.420
2012-06-13   27.270   29.130  572.160   214.730
2012-06-14   28.290   29.340  571.530   214.450
2012-06-15   30.014   30.020  574.130   218.350
2012-06-18   31.410   29.840  585.780   222.660
2012-06-19   31.911   30.700  587.410   224.030
2012-06-20   31.600   30.930  585.741   223.020
2012-06-21   31.840   30.135  577.670   220.575
2012-06-22   33.050   30.700  582.100   222.160
2012-06-25   32.060   29.865  570.765   220.070
2012-06-26   33.100   30.020  572.025   225.610
2012-06-27   32.230   30.170  574.500   225.620
2012-06-28   31.360   29.910  569.050   221.310
2012-06-29   31.095   30.590  584.000   228.350
...             ...      ...      ...       ...
2019-08-14  179.710  133.980  202.750  1762.960
2019-08-15  182.590  133.680  201.740  1776.120
2019-08-16  183.700  136.130  206.500  1792.570
2019-08-19  186.170  138.410  210.350  1816.120
2019-08-20  183.810  137.260  210.360  1801.380
2019-08-21  183.550  138.790  212.640  1823.540
2019-08-22  182.040  137.780  212.460  1804.660
2019-08-23  177.750  133.390  202.640  1749.620
2019-08-26  180.360  135.450  206.490  1768.870
2019-08-27  181.300  135.740  204.160  1761.830
2019-08-28  181.760  135.560  205.530  1764.250
2019-08-29  185.570  138.120  209.010  1786.400
2019-08-30  185.670  137.860  208.740  1776.290
2019-09-03  182.390  136.040  205.700  1789.840
2019-09-04  187.140  137.630  209.190  1800.620
2019-09-05  190.900  140.050  213.280  1840.720
2019-09-06  187.490  139.100  213.260  1833.510
2019-09-09  188.760  137.520  214.170  1831.350
2019-09-10  186.170  136.080  216.700  1820.550
2019-09-11  188.490  136.120  223.590  1822.990
2019-09-12  187.470  137.520  223.090  1843.550
2019-09-13  187.190  137.320  218.750  1839.340
2019-09-16  186.220  136.330  219.900  1807.840
2019-09-17  188.080  137.390  220.700  1822.550
2019-09-18  188.140  138.520  222.770  1817.460
2019-09-19  190.140  141.070  220.960  1821.500
2019-09-20  189.930  139.440  217.730  1794.160
2019-09-23  186.820  139.140  218.720  1785.300
2019-09-24  181.280  137.380  217.680  1741.610
2019-09-25  182.800  139.360  221.030  1768.330

[1850 rows x 4 columns]

Take only the earlist half of observations:

In [18]:
df = df[0:924]

In [19]:
df

                 fb    msft     aapl     amzn
date
2012-05-18   38.232  29.270  530.380  213.850
2012-05-21   34.030  29.750  561.280  218.110
2012-05-22   31.000  29.760  556.970  215.330
2012-05-23   32.000  29.110  570.560  217.280
2012-05-24   33.030  29.070  565.320  215.240
2012-05-25   31.910  29.060  562.290  212.890
2012-05-29   28.840  29.560  572.270  214.750
2012-05-30   28.190  29.340  579.170  209.230
2012-05-31   29.600  29.190  577.730  212.910
2012-06-01   27.720  28.450  560.990  208.220
2012-06-04   26.900  28.550  564.290  214.570
2012-06-05   25.869  28.505  562.830  213.210
2012-06-06   26.810  29.350  571.460  217.640
2012-06-07   26.310  29.230  571.720  218.800
2012-06-08   27.100  29.650  580.320  218.480
2012-06-11   27.005  28.895  571.170  216.500
2012-06-12   27.400  29.290  576.160  216.420
2012-06-13   27.270  29.130  572.160  214.730
2012-06-14   28.290  29.340  571.530  214.450
2012-06-15   30.014  30.020  574.130  218.350
2012-06-18   31.410  29.840  585.780  222.660
2012-06-19   31.911  30.700  587.410  224.030
2012-06-20   31.600  30.930  585.741  223.020
2012-06-21   31.840  30.135  577.670  220.575
2012-06-22   33.050  30.700  582.100  222.160
2012-06-25   32.060  29.865  570.765  220.070
2012-06-26   33.100  30.020  572.025  225.610
2012-06-27   32.230  30.170  574.500  225.620
2012-06-28   31.360  29.910  569.050  221.310
2012-06-29   31.095  30.590  584.000  228.350
...             ...     ...      ...      ...
2015-12-08  106.490  55.790  118.230  677.330
2015-12-09  104.600  54.980  115.620  664.790
2015-12-10  105.420  55.270  116.170  662.320
2015-12-11  102.120  54.060  113.180  640.150
2015-12-14  104.660  55.140  112.480  657.910
2015-12-15  104.550  55.200  110.490  658.640
2015-12-16  106.790  56.130  111.340  675.770
2015-12-17  106.220  55.700  108.980  670.650
2015-12-18  104.040  54.130  106.030  664.140
2015-12-21  104.770  54.830  107.330  664.510
2015-12-22  105.510  55.350  107.230  663.150
2015-12-23  104.630  55.820  108.610  663.700
2015-12-24  105.020  55.670  108.030  662.790
2015-12-28  105.930  55.950  106.820  675.200
2015-12-29  107.260  56.550  108.740  693.970
2015-12-30  106.220  56.310  107.320  689.070
2015-12-31  104.660  55.480  105.260  675.890
2016-01-04  102.220  54.800  105.350  636.990
2016-01-05  102.730  55.050  102.710  633.790
2016-01-06  102.970  54.050  100.700  632.650
2016-01-07   97.920  52.170   96.450  607.940
2016-01-08   97.330  52.330   96.960  607.050
2016-01-11   97.510  52.300   98.530  617.740
2016-01-12   99.370  52.780   99.960  617.890
2016-01-13   95.440  51.640   97.390  581.810
2016-01-14   98.370  53.110   99.520  593.000
2016-01-15   94.970  50.990   97.130  570.180
2016-01-19   95.260  50.560   96.660  574.480
2016-01-20   94.350  50.790   96.790  571.770
2016-01-21   94.160  50.480   96.300  575.020

[924 rows x 4 columns]

Calculate expected returns:

In [21]:
mu = expected_returns.mean_historical_return(df)

Calculate sample covariance matrix:

In [22]:
S = risk_models.sample_cov(df)

Optimize the weights to maximzie the Sharpe Ratio:

In [26]:
ef = EfficientFrontier(mu, S)
weights = ef.max_sharpe()
ef.portfolio_performance(verbose=True)

Expected annual return: 28.3%
Annual volatility: 23.5%
Sharpe Ratio: 1.12

(0.2831529976215375, 0.23530861614000778, 1.1183313298862052)

In [27]:
print(weights)

{'fb': 0.23331629175290047, 'msft': 0.27282123415254717, 'aapl': 0.0, 'amzn': 0.4938624740945525}

Using optimized weights, compute portfolio accolation:

In [32]:
latest_prices = get_latest_prices(df)
da = DiscreteAllocation(weights, latest_prices, total_portfolio_value=1000000)
allocation, leftover = da.greedy_portfolio()
print(allocation)

1 out of 4 tickers were removed
{'amzn': 859, 'msft': 5404, 'fb': 2477}

To update portfolio, call the API again for latest data and run optimization model again:

In [33]:
fb_data, fb_meta_data = ts.get_daily(symbol='FB', outputsize='full')
msft_data, msft_meta_data = ts.get_daily(symbol='MSFT', outputsize='full')
aapl_data, aapl_meta_data = ts.get_daily(symbol='AAPL', outputsize='full')
amzn_data, amzn_meta_data = ts.get_daily(symbol='AMZN', outputsize='full')

In [36]:
df = pd.DataFrame(columns=['fb', 'msft', 'aapl', 'amzn'])

In [37]:
fb_clean = fb_data['4. close']
msft_clean = msft_data['4. close']
aapl_clean = aapl_data['4. close']
amzn_clean = amzn_data['4. close']
##From #8

In [38]:
df['fb'] = fb_clean
df['msft'] = msft_clean
df['aapl'] = aapl_clean
df['amzn'] = amzn_clean
print(df)

                 fb     msft     aapl      amzn
date
2012-05-18   38.232   29.270  530.380   213.850
2012-05-21   34.030   29.750  561.280   218.110
2012-05-22   31.000   29.760  556.970   215.330
2012-05-23   32.000   29.110  570.560   217.280
2012-05-24   33.030   29.070  565.320   215.240
2012-05-25   31.910   29.060  562.290   212.890
2012-05-29   28.840   29.560  572.270   214.750
2012-05-30   28.190   29.340  579.170   209.230
2012-05-31   29.600   29.190  577.730   212.910
2012-06-01   27.720   28.450  560.990   208.220
2012-06-04   26.900   28.550  564.290   214.570
2012-06-05   25.869   28.505  562.830   213.210
2012-06-06   26.810   29.350  571.460   217.640
2012-06-07   26.310   29.230  571.720   218.800
2012-06-08   27.100   29.650  580.320   218.480
2012-06-11   27.005   28.895  571.170   216.500
2012-06-12   27.400   29.290  576.160   216.420
2012-06-13   27.270   29.130  572.160   214.730
2012-06-14   28.290   29.340  571.530   214.450
2012-06-15   30.014   30.020  574.130   218.350
2012-06-18   31.410   29.840  585.780   222.660
2012-06-19   31.911   30.700  587.410   224.030
2012-06-20   31.600   30.930  585.741   223.020
2012-06-21   31.840   30.135  577.670   220.575
2012-06-22   33.050   30.700  582.100   222.160
2012-06-25   32.060   29.865  570.765   220.070
2012-06-26   33.100   30.020  572.025   225.610
2012-06-27   32.230   30.170  574.500   225.620
2012-06-28   31.360   29.910  569.050   221.310
2012-06-29   31.095   30.590  584.000   228.350
...             ...      ...      ...       ...
2019-08-14  179.710  133.980  202.750  1762.960
2019-08-15  182.590  133.680  201.740  1776.120
2019-08-16  183.700  136.130  206.500  1792.570
2019-08-19  186.170  138.410  210.350  1816.120
2019-08-20  183.810  137.260  210.360  1801.380
2019-08-21  183.550  138.790  212.640  1823.540
2019-08-22  182.040  137.780  212.460  1804.660
2019-08-23  177.750  133.390  202.640  1749.620
2019-08-26  180.360  135.450  206.490  1768.870
2019-08-27  181.300  135.740  204.160  1761.830
2019-08-28  181.760  135.560  205.530  1764.250
2019-08-29  185.570  138.120  209.010  1786.400
2019-08-30  185.670  137.860  208.740  1776.290
2019-09-03  182.390  136.040  205.700  1789.840
2019-09-04  187.140  137.630  209.190  1800.620
2019-09-05  190.900  140.050  213.280  1840.720
2019-09-06  187.490  139.100  213.260  1833.510
2019-09-09  188.760  137.520  214.170  1831.350
2019-09-10  186.170  136.080  216.700  1820.550
2019-09-11  188.490  136.120  223.590  1822.990
2019-09-12  187.470  137.520  223.090  1843.550
2019-09-13  187.190  137.320  218.750  1839.340
2019-09-16  186.220  136.330  219.900  1807.840
2019-09-17  188.080  137.390  220.700  1822.550
2019-09-18  188.140  138.520  222.770  1817.460
2019-09-19  190.140  141.070  220.960  1821.500
2019-09-20  189.930  139.440  217.730  1794.160
2019-09-23  186.820  139.140  218.720  1785.300
2019-09-24  181.280  137.380  217.680  1741.610
2019-09-25  182.800  139.360  221.030  1768.330

[1850 rows x 4 columns]

In [40]:
mu = expected_returns.mean_historical_return(df)
S = risk_models.sample_cov(df)
ef = EfficientFrontier(mu, S)
weights = ef.max_sharpe()
ef.portfolio_performance(verbose=True)
print(weights)

Expected annual return: 28.5%
Annual volatility: 22.3%
Sharpe Ratio: 1.19
{'fb': 0.14110788492390766, 'msft': 0.42339738829620777, 'aapl': 0.0, 'amzn': 0.4354947267798846}

In [41]:
latest_prices = get_latest_prices(df)
da = DiscreteAllocation(weights, latest_prices, total_portfolio_value=1000000)
allocation, leftover = da.greedy_portfolio()
print(allocation)

1 out of 4 tickers were removed
{'amzn': 246, 'msft': 3038, 'fb': 772}